<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>My Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/">My test project</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/me">About me</a>
        <a class="p-2 text-dark" href="/players">My project</a>
        <a class="p-2 text-dark" href="/my_contact">Contact</a>

    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<main role="main" class="inner cover">
    <h1 class="cover-heading " >My Contact</h1>
    <p class="lead">сity Brest</p>
    <p class="lead">st. Siabrovskaia</p>
    <p class="lead">house 109</p>
    <p class="lead">tel +375 29 802 01 30</p>
    <p class="lead">email: Ispolin1@rambler.ru</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">send massage</a>

        <a href="/" class="btn btn-lg btn-secondary">return main</a>
    </p>
</main>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
</footer>
</body>
</html>
<style>
    body {
        background: #DCDCDC;
        margin-right: 5%;
        margin-left: 5%;
    }
</style>