<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <title>About me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/">My test project</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/me">About me</a>
        <a class="p-2 text-dark" href="/players">My project</a>
        <a class="p-2 text-dark" href="/my_contact">Contact</a>

    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<h1 class="text">Hello, my name is Vitalik Sacuta</h1>
<p class="center-img">
<img class="displayed" src="https://i.ibb.co/2cSM90M/h-Dmb-Jjlng-N0.jpg" width="10%">

</p>
<p class="text">I'm a Java junior developer, this starter project of mine is an indicator of my skills, I'm just at the beginning of my way ...</p>
<h1 class="text"><a href="/players">Show crud interface</a></h1>

</body>
</html>
<style>IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>
<style>
    .text {
        text-align:  center;
    }
</style>
<style>
    body {
        background: #DCDCDC;
        margin-right: 5%;
        margin-left: 5%;
    }
</style>

